---
layout: page
voting: true
img: true
---
<h5 id="ps-timeline-h5">Competition Timeline</h5>

<section class="ps-timeline-sec">
  <div class="container">
    <ol class="ps-timeline">
      <li class="hide">
        <div class="ps-top"><p>Voting Starts</p></div>
        <span class="ps-sp-top">1<sup>st</sup></span></li>
      <li>
        <div class="ps-bot"><p>Double Power Up</p></div>
        <span class="ps-sp-bot">10<sup>th</sup></span></li>
      <li>
        <div class="ps-top"><p>1st Knock-Out</p></div>
        <span class="ps-sp-top">14<sup>th</sup></span></li>
      <li>
        <div class="ps-bot"><p>Quad Power Up</p></div>
        <span class="ps-sp-bot">17<sup>th</sup></span></li>
      <li>
        <div class="ps-top"><p>2nd Knock-Out</p></div>
        <span class="ps-sp-top">21<sup>st</sup></span></li>
      <li>
        <div class="ps-bot"><p>Double Power Up</p></div>
        <span class="ps-sp-bot">24<sup>th</sup></span></li>
      <li>
        <div class="ps-top"><p>Triple Power Up</p></div>
        <span class="ps-sp-top">30<sup>th</sup></span></li>
      <li class="hide">
        <div class="ps-bot"><p>Voting Closes</p></div>
        <span class="ps-sp-bot">31<sup>st</sup></span></li>
    </ol>
  </div>
</section>


<div class="container entry-container">
  <div id="entry-description">
    <h2 id="entry-form">Isabel Gomes</h2>
    <div class="sharing-icon-container">
      <div class="sharing-copy">Share on:</div>
      <div class="sharing-icon" id="facebook">
        <a target="_new" href="https://www.facebook.com/sharer?u=https://sweetstix.co.za/entry/20073562/">
          <img src="/assets/images/icons/facebook-sharing.png" alt="Share on Facebook">
        </a>
      </div>
      <div class="sharing-icon" id="twitter">
        <a target="_new"
           href="https://twitter.com/intent/tweet?text=Isabel Gomes%20-%20SweetStix.co.za%20-%20https://sweetstix.co.za/entry/20073562/">
          <img src="/assets/images/icons/twitter-sharing.png" alt="Share on Twitter">
        </a>
      </div>
      <div class="sharing-icon" id="whatsapp">
        <a target="_new"
           href="https://api.whatsapp.com/send?text=Isabel Gomes%20-%20SweetStix.co.za%20-%20https://sweetstix.co.za/entry/20073562/">
          <img src="/assets/images/icons/whatsapp-sharing.png" alt="Share on Whatsapp">
        </a>
      </div>
    </div>

    <p>Isabel is very smart child she lives with her grandparents
      She doesn't forget people she is our bundle of joy</p>
    <h5>Vote for Isabel Gomes</h5>
    <h6>222nd Place</h6>
    <div class="progress-bar">
      <!-- set width for voting progress in style attribute -->
      <div class="progress-bar__item" style="width:20%;"></div>
    </div>

    <ul class="voting-options">
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Vote by Snapscan</h3>
        <div class="pmp transition">
          <div class="voting-options__table">
            {% for i in (1..3) %}
            <div class="voting-options__row">
              <div class="vote-cell cell-snapscan vote-count">
                25 votes
                <span class="silent-vote-cost"><br/><span>R25.00</span><br><a</span>
              </div>
              <div class="vote-cell cell-snapscan vote-detail">
                <img src="/assets/images/snapscanlogo.png" border="0" alt="Snap Scan Logo">
              </div>
              <div class="vote-cell cell-snapscan vote-cost">
                <span>R25.00</span><br>
                <a href="https://pos.snapscan.io/qr/ZlIni4Sx?id=20073562_2020-07-01_19-19-02&amount=2500"
                   target="_new">
                  <img src="https://pos.snapscan.io/qr/ZlIni4Sx.png?id=20073562_2020-07-01_19-19-02&amount=2500&snap_code_size=100&strict=true">
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Vote by Credit Card</h3>
        <div class="pmp transition">
          <div class="voting-options__table">
            {% for i in (1..3) %}
            <div class="voting-options__row">
              <div class="vote-cell cell-credit-card vote-count">
                25 votes
                <span class="silent-vote-cost"><br/></span>
              </div>
              <div class="vote-cell cell-credit-card vote-detail">
                <img src="/assets/images/creditcard.png" border="0" alt="Credit Card Logo..">
              </div>
              <div class="vote-cell cell-credit-card vote-cost">
                <form action="https://www.payfast.co.za/eng/process" method="POST">
                  <input type="hidden" name="merchant_id" value="10153752">
                  <input type="hidden" name="merchant_key" value="qs2e0noq8zebt">
                  <input type="hidden" name="return_url" value="https://sweetstix.co.za/entry/20073562/">
                  <input type="hidden" name="cancel_url" value="https://sweetstix.co.za/entry/20073562/">
                  <input type="hidden" name="notify_url" value="https://sweetstix.co.za/callback/payfast/">
                  <input type="hidden" name="name_first" value="">
                  <input type="hidden" name="name_last" value="">
                  <input type="hidden" name="email_address" value="">
                  <input type="hidden" name="m_payment_id" value="20073562_2020-07-01_19-19-02">
                  <input type="hidden" name="amount" value="25.00">
                  <input type="hidden" name="item_name" value="SweetStix">
                  <input type="hidden" name="item_description" value="25 votes">
                  <input type="hidden" name="custom_str1" value="">
                  <input type="hidden" name="custom_str2" value="">
                  <input type="hidden" name="email_confirmation" value="1">
                  <input type="hidden" name="signature" value="9ed9b6dbf8db2e1e5628ea5c7be6378c">
                  <input type="submit" class="btn entry-paypal" value="Buy Now - R25.00">
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Vote by Paypal</h3>
        <div class="pmp transition">
          <div class="voting-options__table">
            {% for i in (1..3) %}
            <div class="voting-options__row">
              <div class="vote-cell cell-paypal vote-count">
                50 votes
                <span class="silent-vote-cost"><br/></span>
              </div>
              <div class="vote-cell cell-paypal vote-detail">
                <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0"
                     alt="PayPal Logo">
              </div>
              <div class="vote-cell cell-paypal vote-cost">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_xclick">
                  <input type="hidden" name="business" value="john@softsmart.co.za">
                  <input type="hidden" name="item_name" value="SweetStix - 50 votes">
                  <input type="hidden" name="item_number" value="20073562">
                  <input type="hidden" name="amount" value="5.50">
                  <input type="hidden" name="quantity" value="1">
                  <input type="hidden" name="no_note" value="1">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="lc" value="US">
                  <input type="hidden" name="rm" value="2">
                  <input type="hidden" name="cbt" value="Return to SweetStix">
                  <input type="hidden" name="return" value="https://sweetstix.co.za/entry/20073562/">
                  <input type="hidden" name="cancel_return" value="https://sweetstix.co.za/entry/20073562/">
                  <input type="hidden" name="notify_url" value="https://sweetstix.co.za/callback/paypal/">
                  <input class="btn entry-paypal" type="submit" name="submit" value="Buy Now - $5.50">
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Vote by Checkers / Shoprite</h3>
        <div class="pmp transition">
          <div class="voting-options__table">
            {% for i in (1..5) %}
            <div class="voting-options__row">
              <div class="vote-cell cell-scode vote-count">
                30 votes

                <span class="silent-vote-cost"></span>

              </div>
              <div class="vote-cell cell-scode vote-detail"><img
                      src="/assets/images/scode.jpg" border="0" alt="Pay at Checkers or Shoprite"></div>
              <div class="vote-cell cell-scode vote-cost">
                <form action="https://www.payfast.co.za/eng/process" method="POST"><input type="hidden"
                                                                                          name="merchant_id"
                                                                                          value="10153752"><input
                        type="hidden" name="merchant_key" value="qs2e0noq8zebt"><input type="hidden" name="return_url"
                                                                                       value="https://sweetstix.co.za/entry/20073562/"><input
                        type="hidden" name="cancel_url" value="https://sweetstix.co.za/entry/20073562/"><input
                        type="hidden" name="notify_url" value="https://sweetstix.co.za/callback/scode/"><input
                        type="hidden" name="name_first" value=""><input type="hidden" name="name_last" value=""><input
                        type="hidden" name="email_address" value=""><input type="hidden" name="m_payment_id"
                                                                           value="20073562_2020-07-01_19-19-02"><input
                        type="hidden" name="amount" value="25.00"><input type="hidden" name="item_name"
                                                                         value="SweetStix"><input type="hidden"
                                                                                                  name="item_description"
                                                                                                  value="30 votes">
                  <input type="hidden" name="custom_str1" value=""><input type="hidden" name="custom_str2"
                                                                          value=""><input type="hidden"
                                                                                          name="email_confirmation"
                                                                                          value="1"><input type="hidden"
                                                                                                           name="payment_method"
                                                                                                           value="sc"><input
                          type="hidden" name="signature" value="ed972ee67d32c3f9e3a0b54ddafc7b52"><input type="submit"
                                                                                                         class="btn entry-paypal"
                                                                                                         value="Buy Now - R25.00">
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Vote by SMS</h3>
        <div class="pmp transition">
          <p><strong>NOTE: Cell C does not
            permit their users to use premiums SMS number so you will not be able to take part. Unfortunately there is
            nothing we can do about their decision.</strong></p>
          <div class="voting-options__table">
            {% for i in (1..2) %}
            <div class="voting-options__row">
              <div class="vote-cell cell-sms vote-count">
                2 votes

                <span class="silent-vote-cost"><br/>R3.00</span>

              </div>
              <div class="vote-cell cell-sms vote-detail">
                <span class="vote-cell__span">vote c20073562</span> to <span class="vote-cell__span">35108</span>
              </div>
              <div class="vote-cell cell-sms vote-cost">R3.00 per sms</div>
            </div>
            {% endfor %}
          </div>
        </div>

      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Vote by Free Vote</h3>
        <div class="pmp transition">
          <div class="voting-options__table">
            <div class="voting-options__row">
              <div class="vote-cell cell-free-vote vote-count">
                1 vote

                <span class="silent-vote-cost"><br/><form</span>

              </div>
              <div class="vote-cell cell-free-vote vote-detail"></div>
              <div class="vote-cell cell-free-vote vote-cost">
                <a class="vote-cell__link" href="/login/">log in</a> or
                <a class="vote-cell__link" href="/register/">register</a> to vote.
              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>

  </div>

  <script language="javascript">
      jQuery(".voting-options li input[type='checkbox']").on("change", function (e) {
//alert("hi");
      });
      jQuery(".voting-options li input[type='checkbox']").on("click", function (e) {
//alert("hi again");
      });

  </script>

  <div class="entry-photo">
    <!--div class="entry-id">VOTE c13666</div-->

    <div class="flexslider" id="slider">
      <ul class="slides">
        <li>
          <a data-lightbox="example"
             href="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/full/13666-isabel-gomes.jpg">

            <img src="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/thumb/650_13666-isabel-gomes.jpg"/>
          </a>
        </li>
        <li>
          <a data-lightbox="example"
             href="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/full/13666-isabel-gomes-1.jpg">

            <img src="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/thumb/650_13666-isabel-gomes-1.jpg"/>
          </a>
        </li>
        <li>
          <a data-lightbox="example"
             href="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/full/13666-isabel-gomes-2.jpg">

            <img src="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/thumb/650_13666-isabel-gomes-2.jpg"/>
          </a>
        </li>
      </ul>

    </div>
    <div class="flexslider" id="carousel">

      <ul class="slides">
        <li>
          <img src="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/thumb/150_13666-isabel-gomes.jpg"
               alt="isabel-gomes"/>
        </li>
        <li>
          <img src="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/thumb/150_13666-isabel-gomes-1.jpg"
               alt="isabel-gomes"/>
        </li>
        <li>
          <img src="https://sweetstix.s3.af-south-1.amazonaws.com/entries/2020-07/isabel-gomes/thumb/150_13666-isabel-gomes-2.jpg"
               alt="isabel-gomes"/>
        </li>
      </ul>

    </div>

  </div>


</div>


<div class="container">

  <h2>Other entries</h2>

  <div class="other-current-entries">
    {% for l in (1..16) %}
    <div class="current-entries-thumb">
      <a href="/entry/20072d25" title="Mynah">
        <img
            src="/assets/images/blurry-thumb-150.jpg"
            data-src="/assets/images/entries/150_10455-theresho.jpg"
            alt="Mynah">
      </a>
    </div>
    {% endfor %}
  </div>
</div>


<style>
  .vanger {
    display: none;
  }

</style>


<div class="container">

  <div class="comments">

    <h2>Comments</h2>
    <form action="/entry/comments/13666" method="post">
      <input class="vanger" type="text" name="url">
      <input name="comment_nonce" type="hidden" value="972b5bfc31dbbea7f132dbf16f313e13">
      <input name="comment_nonce_ttl" type="hidden" value="1593623942">

      <p>
        <b>Your Name</b><br>
        <input class="form__input" placeholder="Your name" type="text" name="nickName">
      </p>

      <p>
        <b>Email Address</b><i>Not displayed</i><br>
        <input class="form__input" placeholder="E-mail" type="email" name="email">
      </p>

      <p>
        <b>Comment</b><br>
        <textarea class="form__textarea" placeholder="Comment" name="comment"></textarea>
      </p>

      <p>
        <input type="submit" value="Save Comment" class="btn form__btn">
      </p>
    </form>


  </div>

</div>
