---
layout: default
owl: true
img: true
email: true
---

<div class="hero">
  <div class="container hero__container">
    <div class="hero__copy">
      <h1 class="hero__title hero__title">Enter your child and win your share of R12000</h1>
      <button onclick="location.href='#entry-form'" class="btn header__get-started">ENTER
        NOW
      </button>
    </div>
    <div class="image">
      <img src="assets/images/header/hero1.jpg" alt="SweetStix">
    </div>
  </div>
</div>


<main class="main">
  <div class="container home-entry">
    <div id="entry-form" class="home-entry__form">
      <h2>Enter your child</h2>
      <h4>Enter our <strong>July 2020</strong> competition now for a chance to win your share of
        R12000. First prize R5000!</h4>
      {% include contact-form.html %}
    </div>
    {% include home-entries.html %}
  </div>
  <div class="loadingDiv"></div>

  <div class="container what-can">
    <div class="what-can__box">
      <div class="what-can__item">
        <img class="what-can__img" src="assets/images/icons/trophy.png" alt="">
        <h3 class="what-can__title">Winner's prizes</h3>
        <p>R5000 first place winner, R3000 and R2000 second and third places</p>
      </div>
      <div class="what-can__item">
        <img class="what-can__img" src="assets/images/icons/winner.png" alt="">
        <h3 class="what-can__title">Increasing prize pool</h3>
        <p>The more votes that come in the higher the prize pool becomes.</p>
        <p>Bonus top up: R728.64.</p>
        <p>Total First Prize: R5,728.64.</p>
      </div>
      <div class="what-can__item">
        <img class="what-can__img" src="assets/images/icons/ribbon.png" alt="">
        <h3 class="what-can__title">Random prizes</h3>
        <p>Randomly drawn voters get spot prizes during the competition</p>
      </div>
    </div>
  </div>
</main>

<script type='text/javascript' src='assets/js/jquery.nav.js?ver=1.6.4'></script>
<script type='text/javascript' src='assets/js/jquery.slicknav.js?ver=1.6.4'></script>
<script type='text/javascript' src='assets/js/main.min.js?ver=1.6.4'></script>
<script type='text/javascript' src='assets/js/owl.carousel.min.js?ver=1.6.4'></script>

<script>
    jQuery(document).ready(function () {
        jQuery(".owl-carousel").owlCarousel({
            nav: true,
            navText: ["<div class='clients-say__btn clients-say__btn_right'></div>",
                "<div class='clients-say__btn clients-say__btn_left'></div>"
            ],
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 2
                }
            }
        });
    });
</script>

<script language="javascript">
    jQuery(document).ready(function () {
        emailVerify = "";
        jQuery("#email").change(function () {
            jQuery("#email-error").html("");
            // basic email validation...
            if (jQuery("#email").val().indexOf("@") < 1) {
                alert("ERROR! " + jQuery("#email").val() + " is not a valid email");
                jQuery("#email").val("");
                jQuery("#email").css('border', '1px solid red');
                return;
            }
            emailVerify = jQuery("#email").val();
            jQuery.get("/ajax/email_verify.php?email=" + jQuery("#email").val(), function (
                data, status) {
                if (data == "false") {
                    jQuery("#email-error").html("<strong>ERROR!</strong> " +
                        jQuery("#email").val() +
                        " is not a valid email.<br />");
                    jQuery("#email").val("");
                    jQuery("#email").css('border', '1px solid red');
                    return;
                }
            });
        });

        jQuery(".wpcf7-form-control").on("keyup", function (e) {
            if (this.id == "parent-name" || this.id == "parent-surname" || this.id ==
                "entry-name" || this.id == "entry-surname" || this.id == "email" || this
                    .id == "phone" || this.id == "description") {
                jQuery("#" + this.id).css('border', '1px solid var(--gray)');
            }
        });


        $('img').each(function () {
            if (typeof $(this).attr("data-src") != "undefined") {
                $(this).attr("src", $(this).attr("data-src"));
            }
        });
    });
</script>

<script type='text/javascript' src='assets/js/entry-form/child.js'></script>

