---
layout: default
---
<main class="main main__page text">
  <div class="container">
    <h2>Winners</h2>
    <p>Winners are announce on the 7th of the month following the competition. This page
      will be updated on the 7th of the month and our facebook pages will be updated on the first business day after
      that.
    </p>
    <section class="winners">
      {% for i in (1..4) %}
      <div class="winners__date">
        May 2020
      </div>
      <div class="winners__row">
        {% for n in (1..3) %}
        <div class="winners__thumb">
          <div>
            <div class="winners__place">
              1st
            </div>
            <img src="https://cutestix.co.za/assets/images/entries/2020-05/bambolwethu/full/6103-bambolwethu.jpg"></div>
          <div class="winners__winner">
            Bambolwethu won first place<br/>R5000.00 + R6123.52 top up
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </section>
  </div>
</main>
