<div role="form" class="wpcf7" id="wpcf7-f5-p8-o1" lang="en-US" dir="ltr">
  <div class="screen-reader-response"></div>
  <form action="/entry/" method="post" enctype="multipart/form-data" class="wpcf7-form">
    <input class="vanger" type="hidden" name="url" id="url">
    <input name="comment_nonce" id="comment_nonce" type="hidden" value="ff7c064512ab57362cb3b4d57c9de216">
    <input name="comment_nonce_ttl" id="comment_nonce_ttl" type="hidden" value="1591185218">
    <input name="ip" id="ip" type="hidden" value="91.238.231.238">
    <!-- This field is not usually taken but for debuging an issue with image uploads we are using it simply to "tie" various logging info together -->
    <input name="source" id="source" type="hidden" value="">
    <!-- This field is not usually taken but for debuging an issue with image uploads we are using it simply to "tie" various logging info together -->
    <input name="refer" id="refer" type="hidden" value="false">
    <!-- This field is not usually taken but for debuging an issue with image uploads we are using it simply to "tie" various logging info together -->
    <div class="contact-form__group">

      <label class="contact-form__label">
                  <span class="wpcf7-form-control-wrap parent-name">
                    <input type="text" name="parent-name" id="parent-name" value="" size="40"
                           class="wpcf7-form-control wpcf7-text contact-form__input" aria-invalid="false"
                           placeholder="Parent Name"/>
                  </span>
        <i class="contact-form__icon contact-form__icon_name"></i>
      </label>

      <label class="contact-form__label">
                  <span class="wpcf7-form-control-wrap parent-surname">
                    <input type="text" name="parent-surname" id="parent-surname" value="" size="40"
                           class="wpcf7-form-control wpcf7-text contact-form__input" aria-invalid="false"
                           placeholder="Parent Surname"/>
                  </span>
        <i class="contact-form__icon contact-form__icon_name"></i>
      </label>
    </div>


    <div class="contact-form__group">

      <label class="contact-form__label">
                  <span class="wpcf7-form-control-wrap entry-name">
                    <input type="text" name="entry-name" id="entry-name" value="" size="40"
                           class="wpcf7-form-control wpcf7-text contact-form__input" aria-invalid="false"
                           placeholder="Child Name"/>
                  </span>
        <i class="contact-form__icon contact-form__icon_name"></i>
      </label>

      <label class="contact-form__label">
                  <span class="wpcf7-form-control-wrap entry-surname">
                    <input type="text" name="entry-surname" id="entry-surname" value="" size="40"
                           class="wpcf7-form-control wpcf7-text contact-form__input" aria-invalid="false"
                           placeholder="Child Surname"/>
                  </span>
        <i class="contact-form__icon contact-form__icon_name"></i>
      </label>
    </div>


    <div class="contact-form__group">

      <label class="contact-form__label contact-form__label-select">
                  <span class="wpcf7-form-control-wrap gender">
                    <select name="entry-type" id="entry-type"
                            class="wpcf7-form-control wpcf7-text contact-form__input contact-form__select"
                            aria-invalid="false">
                      <option value=""> Gender </option>
                      <option value="boy"> Boy </option>
                      <option value="girl"> Girl </option>
                    </select>
                  </span>
        <i class="contact-form__icon contact-form__icon_name"></i>
      </label>

      <label class="contact-form__label contact-form__label-select">
                  <span class="wpcf7-form-control-wrap entry-surname">
                    <select name="age" id="age"
                            class="wpcf7-form-control wpcf7-text contact-form__input contact-form__select"
                            aria-invalid="false">
                      <option value=""> Age </option>
                      <option value="0"> 0 - 12 Months </option>
                      <option value="1"> 1 Year </option>
                      <option value="2"> 2 Years </option>
                      <option value="3"> 3 Years </option>
                      <option value="4"> 4 Years </option>
                      <option value="5"> 5 Years </option>
                      <option value="6"> 6 Years </option>
                      <option value="7"> 7 Years </option>
                    </select>
                  </span>
        <i class="contact-form__icon contact-form__icon_name"></i>
      </label>
    </div>

    <div class="contact-form__group">
      <label class="contact-form__label">
                  <span class="wpcf7-form-control-wrap email"><input type="email" name="email" id="email" value=""
                                                                     size="40"
                                                                     class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email contact-form__input"
                                                                     aria-invalid="false" placeholder="Email Address"/></span><i
              class="contact-form__icon contact-form__icon_email"></i>
        <div id="email-error" style="color:red;"></div>
      </label>

      <label class="contact-form__label">
                  <span class="wpcf7-form-control-wrap phone">
                    <input type="tel" name="phone" id="phone" value="" size="40"
                           class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel contact-form__input"
                           aria-invalid="false" placeholder="Mobile Number"/></span>
        <i class="contact-form__icon contact-form__icon_phone"></i>
      </label>
    </div>

    <label class="contact-form__label"><span class="wpcf7-form-control-wrap message">
                  <textarea name="description" id="description" cols="40" rows="10"
                            class="wpcf7-form-control wpcf7-textarea contact-form__textarea" aria-invalid="false"
                            placeholder="Describe your child, eg:&#10;&#10;Joey is a really cute boy who loves his mommy and daddy and watches telly tubbies with his older brother. He can count to 10 and plans on being a rocket scientist."></textarea>
                </span></label>


    <div class="contact-form__group">
      <label style="margin-top:2rem;"><span class="wpcf7-form-control-wrap message">
                    Upload your child's image
                    <input type="file" id="upload" name="image_upload" value="Choose a file"/>
                  </span></label>
    </div>

    <div class="contact-form__group">
      <label style="margin-top:2rem;"><span class="wpcf7-form-control-wrap message">
                    <input type="checkbox" id="terms-accept" name="terms-accept"/> I
                    accept the <a href="/terms-and-conditions/" target="_new">terms and
                      conditions</a> of entering
                  </span></label>
    </div>

    <div style="display: none; padding:1rem; border: 1px solid red; color:red; margin-top: 0.5rem"
         id="form-validation-messages"></div>

    <input type="submit" onclick="return validateForm(); return false;"
           class="wpcf7-form-control wpcf7-submit btn contact-form__btn" value="SUBMIT &#187;">
    <div class="wpcf7-response-output wpcf7-display-none"></div>
  </form>
</div>
