<div class="banner">
  <strong class="banner__title">Enter your cutie now</strong>
  <p class="banner__text">to win your share of R12&nbsp;000</p>
  <button onclick="location.href='/#entry-form';" class="btn">Enter Now</button>
</div>

<footer class="footer">
  <div class="container">
    <a class="footer__logo" href="/"><img src="assets/images/logo/footer-logo.png" alt="SweetStix"></a>
    <div class="footer__top">
      <div class="footer__contacts">
        <p class="footer__contact">
          <img class="footer__contact-icon" src="assets/images/icons/email.png" alt=""/><span><a
                href="mailto:info@sweetstix.co.za">info@sweetstix.co.za</a></span>
        </p>
        <p class="footer__contacts">
          <img class="footer__contact-icon" src="assets/images/icons/support.png" alt=""/><span><a
                href="/contact/">Support</a></span>
        </p>
      </div>
      <div class="footer__links">
        <h5 class="footer__title">Links</h5>
        <div class="menu-footer-container">
          <ul id="menu-footer" class="footer__links-list footer-links">
            <li><a href="/" aria-current="page" class="nav-link">Home</a></li>
            <li><a href="/contact/" class="nav-link">Contact</a></li>
            <li><a href="/power-ups/" class="nav-link">Power Ups</a></li>
            <li><a href="/login/" class="nav-link">Account</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__socials">
        <h5 class="footer__title">Follow us</h5>
        <a class="footer__social" href="https://facebook.com/sweetstixza" target="_new"><img
                src="assets/images/icons/facebook.png" alt="facebook"></a>
        <a class="footer__social" href="https://www.instagram.com/cutestixza" target="_new"><img
                src="assets/images/icons/instagram.png" alt="instagram"></a>
        <a class="footer__social" href="https://twitter.com/cutestix" target="_new"><img
                src="assets/images/icons/twitter.png" alt="twitter"></a>
      </div>
    </div>
    <div class="footer__bottom">
      <span>&copy; SweetStix</span>
      <div>
        <a href="/privacy-policy/">Privacy Policy</a> |
        <a href="/terms-and-conditions/">Terms and Conditions</a>
      </div>
    </div>
  </div>
</footer>
