<div class="container header__banner">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- LeaderBoard -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8510071154130200"
       data-ad-slot="1918405223" data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <!--a href="https://www.loot.co.za/product/the-learning-journey-jumbo-floor-number-puzzle-50-piec/nhvt-5582-g330?referrer=expertsexchangeza" target="_new">
          <img src="assets/images/banners/banner1.gif" width="728" alt="The learning journey jumbo floor number puzzle 50 piece" height="90" border="0">
  </a-->


  <!--a href="/power-ups/">
          <img src="assets/images/banners/double-up-banner.jpg" width="728" alt="DOUBLE UP Power Up Day Today" height="90" border="0">
  </a-->


</div>
