<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description"
      content="Stand a chance of winning cash prizes when you enter your child of between 0 and 7 years old in our cute child competition. Entry is free!"/>

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>SweetStix | South Africa's most adorable children</title>

<link rel='stylesheet' id='lab4320-slicknav-css' href='/assets/css/style.css' type='text/css'
      media='all'/>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#63c8e4">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

<script type='text/javascript' src='/assets/js/jquery.js?ver=1.12.4-wp'></script>

