<header class="header">
  <div class="container header__top">
    <div>
      <a class="header__logo" href="/">
        <img src="/assets/images/logo/white-logo.png" alt="SweetStix - South Africa's most adorable children">
        <div id="site-name" class="header__site-name">SweetStix</div>
      </a>
    </div>

    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo top-nav-collapse">
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
      </div>

      <ul id="menu-primary" class="menu">
        <li class="menu-item"><a href="/current-entries/" class="menu__item">Find your child</a></li>
        <li class="menu-item"><a href="/prizes/" class="menu__item">Prizes</a></li>
        <li class="menu-item"><a href="/how-it-works/" class="menu__item">How it Works</a></li>
        <li class="menu-item"><a href="/rules/" class="menu__item">Rules</a></li>
        <li class="menu-item"><a href="/winners/" class="menu__item">Winners</a></li>
        <li class="menu-item"><a href="/shop/" class="menu__item">Shop</a></li>
        <li class="menu__item_btn menu-item"><a href="/contact/" class="menu__item">Contact</a></li>
      </ul>

      <ul id="menu-primary-1" class="mobile-menu navbar-nav">
        <li class="menu-item"><a href="/current-entries/" class="menu__item">Find your child</a></li>
        <li class="menu-item"><a href="/prizes/" class="menu__item">Prizes</a></li>
        <li class="menu-item"><a href="/how-it-works/" class="menu__item">How it Works</a></li>
        <li class="menu-item"><a href="/rules/" class="menu__item">Rules</a></li>
        <li class="menu-item"><a href="/winners/" class="menu__item">Winners</a></li>
        <li class="menu-item"><a href="/shop/" class="menu__item">Shop</a></li>
        <li class="menu__item_btn menu-item"><a href="/contact/" class="menu__item">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
