<script defer type='text/javascript' src='/assets/js/jquery.nav.js?ver=1.7.0'></script>
<script defer type='text/javascript' src='/assets/js/jquery.slicknav.js?ver=1.7.0'></script>
{% if page.owl %}
<script type='text/javascript' src='/assets/js/owl.carousel.min.js?ver=1.7.0'></script>
<script type="text/javascript" src="/assets/js/init-owl.js"></script>
{% endif %}
<script defer type='text/javascript' src='/assets/js/main.min.js?ver=1.7.0'></script>
{% if page.img %}
<script defer type="text/javascript" src="/assets/js/load-img.js"></script>
{% endif %}
{% if page.search %}
<script defer type="text/javascript" src="/assets/js/search-form.js"></script>
{% endif %}
{% if page.email %}
<script defer type="text/javascript" src="/assets/js/email.js"></script>
{% endif %}
{% if page.voting %}
<script defer
        src="https://www.iomundo.com/Blog/August-2016/Easy-image-carousel-with-lightbox-using-Flexslider/jquery-flexslider-min.js"></script>
<script defer
        src="https://www.iomundo.com/Blog/August-2016/Easy-image-carousel-with-lightbox-using-Flexslider/lightbox-min-(1).js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery('#carousel').flexslider({
            animation: "slide",
            controlNav: true,
            directionNav: true,
            prevText: "",
            nextText: "",
            animationLoop: false,
            slideshow: false,
            itemWidth: 100,
            itemMargin: 5,
            asNavFor: '#slider'
        });

        jQuery('#slider').flexslider({
            animation: "slide",
            controlNav: true,
            directionNav: true,
            prevText: "",
            nextText: "",
            animationLoop: false,
            slideshow: false,
            sync: "#carousel"
        });
    });
</script>
<style>
  .lb-nav:hover {
    filter: alpha(Opacity=100);
    opacity: 0.75;
  }


  .lb-nav a.lb-next {
    float: right;
    background: url(https://sweetstix.co.za/assets/images/icons/next.svg) right 50% no-repeat;
    width: 45%;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    background-size: 6rem;
  }


  .lb-nav a.lb-prev {
    float: left;
    background: url(https://sweetstix.co.zaassets/images/icons/prev.svg) left 50% no-repeat;
    width: 45%;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    background-size: 6rem;
    margin-left: 1rem;
  }

  .flexslider .slides img {
    max-height: 85vh;
    width: auto;
  }

</style>
{% endif %}
