<script type='text/javascript' src='/assets/js/jquery.nav.js?ver=1.7.0'></script>
<script type='text/javascript' src='/assets/js/jquery.slicknav.js?ver=1.7.0'></script>
{% if page.owl %}
<script type='text/javascript' src='/assets/js/owl.carousel.min.js?ver=1.7.0'></script>
<script type="text/javascript" src="/assets/js/init-owl.js"></script>
{% endif %}
<script type='text/javascript' src='/assets/js/main.min.js?ver=1.7.0'></script>
{% if page.img %}
<script defer type="text/javascript" src="/assets/js/load-img.js"></script>
{% endif %}
{% if page.search %}
<script defer type="text/javascript" src="/assets/js/search-form.js"></script>
{% endif %}
{% if page.email %}
<script defer type="text/javascript" src="/assets/js/email.js"></script>
{% endif %}
