<form action="" method="get" class="wpcf7-form search-form" id="search-form">
  <div class="search-form__group">
    <div class="search-form__left-div">
      <select id="order-top" name="order-top" class="form__select search-form__select">
        <option value="">Sort By:</option>
        <option value="">Random</option>
        <option value="top">Top Entries</option>
      </select>
    </div>
    <div class="search-form__right-div">
      <input type="text" name="entry-search" id="entry-search" value="" size="40"
             class="wpcf7-form-control wpcf7-text form__input search-form__input" aria-invalid="false"
             placeholder="Search Entries">
      <button type="submit" class="wpcf7-form-control wpcf7-submit form__btn search-form__search-btn"><i
              class="search-form__icon search__icon_name"></i></button>
    </div>
  </div>
</form>
