.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1214px;
}

.main {
  margin-bottom: 1rem;

  &__current-entries {
    margin-bottom: 5rem;
  }

  &__contact {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &__prizes {
    margin-top: 5rem;
    margin-bottom: 5rem;

    p > img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      display: block;
    }
  }
}
