.container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1214px;
}

.main {
  margin-bottom: 1rem;

  &__page {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.entry-container {
  margin-bottom: 5rem;
}
