.entry-paypal {
  color: #ffffff;
  background-color: var(--alt);
  border: 1px solid var(--alt);
  padding: 0.2rem 0.4rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  max-width: 200px;
}

.entry-paypal:hover,
.entry-paypal:focus {
  background-color: #d4424c;
}
