.wpcf7-form {
  margin-top: 2rem;
}

.form__group {
  display: flex;
  margin: 0 auto;
}

.form__group label:first-child {
  margin-right: 20px;
}

.form__label {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  display: block;
}

.form__input {
  border: 1px solid var(--gray);
  width: 100%;
  padding: 0.85em;
  font-size: 1.1em;
}

.form__icon {
  position: absolute;
  display: block;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form__icon_company {
  background-image: url(../images/icons/form-company.png);
}

.form__icon_email {
  background-image: url(../../assets/images/icons/form-email.png);
}

.form__icon_phone {
  background-image: url(../../assets/images/icons/form-phone.png);
}

.form__icon_name {
  background-image: url(../../assets/images/icons/form-name.png);
}

.search__icon_name {
  background-image: url(../../assets/images/icons/search-white-25.png);
}

.form__textarea {
  width: 100%;
  resize: none;
  border: 1px solid var(--gray);
  padding: 15px;
  font-size: 1.1em;
  height: 144px;
}

.form__btn {
  background-color: var(--base);
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: 1em;
  max-width: 100%;
  border-color: var(--base);
}

.form__select {
  background: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.form__label-select {
  position: relative;
}

.form__label-select::after {
  content: '▼';
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray);
  font-size: 8px;
}

.form__btn:hover,
.form__btn:focus {
  color: #fff;
  background-color: #3b94b1;
}
