.header {
  background-color: var(--base);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__site-name {
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
}

.header__title {
  color: #fff;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1;
  max-width: 42rem;
  padding-top: 5rem;
}

.header_contact {
  background-image: url(../images/header/contact.png);
}

.header_about {
  background-image: url(../images/header/about.png);
}

.header_testimonials {
  background-image: url(../images/header/testimonials.png);
}
