/* start 1176 */
@media (max-width: 1176px) {
  .menu {
    display: none;
  }

  #mobile-menu {
    display: none;
  }

  .slicknav_menu {
    display: block;
  }

  .header_home {
    background-size: inherit;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__title_home {
    padding-top: 5.5rem;
  }

  .what-can__box {
    grid-gap: 1.5rem;
  }
}
/* end 1176 */
/* start 1034 */
@media (max-width: 1034px) {
  .footer-links__item {
    margin-right: 4rem;
  }

  .footer-links {
    display: inline;
  }

  .footer__top {
    flex-wrap: wrap;
  }

  .footer__socials {
    width: 100%;
  }

  .footer__links {
    margin-right: 6rem;
    margin-bottom: 1rem;
  }

  .footer__contacts,
  .footer__links {
    width: 40%;
  }
}
/* end 1034 */
/* start 992 */
@media (max-width: 992px) {
  .hero__title {
    padding-top: 2.3rem;
  }

  .contact-form__group {
    display: block;
  }

  .what-can__box {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__title {
    font-size: 3rem;
  }

  .footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .footer__top {
    padding-bottom: 2rem;
  }
}
/* end 992 */
/* start 844 */
@media (max-width: 844px) {
  .home-entry {
    display: block;
  }

  .home-entry__form {
    padding: 0;
    margin-bottom: 20px;
  }
}
/* end 844 */
/* start 768 */
@media (max-width: 768px) {
  html {
      font-size: 14px;
  }

  .hero__title {
    font-size: 2.8rem;
  }

  .hero__container {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .hero__title {
    max-width: 100%;
  }

  .hero__copy {
    margin-bottom: 20px;
  }

  .what-can__box {
    display: block;
  }

  .what-can__item {
    margin-bottom: 1.5rem;
  }
}
/* end 768 */
/* start 575 */
@media (max-width: 575px) {
  .header__site-name {
    margin-left: 1rem;
  }
}
/* end 575 */
/* start 320 */
@media (max-width: 320px) {
  .banner__title {
    font-size: 2.2rem;
  }

  .banner__text {
    font-size: 1.2rem;
  }

  .footer__bottom {
    display: block;
    padding-bottom: 2rem;
  }

  .footer__bottom div {
    margin-top: 0.8rem;
  }

  .footer__title {
    font-size: 1.2em;
  }

  .footer__contact,
  .footer-links,
  .footer__title {
    text-align: left;
  }
}
/* end 320 */
