.clients-say {
  padding-top: 2rem;
  background-color: #edfbfe;
}

.clients-say__reviews {
  display: flex;
  margin-top: 6rem;
  position: relative;
}

.clients-say__review {
  margin: 0 2rem;
}

.clients-say__btn {
  display: block;
  width: 2.5rem;
  height: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 30%;
}

.clients-say p {
  margin-top: 2em;
}

.clients-say__btn_right {
  background-image: url(../images/icons/right.svg);
  right: -12%;
}

.clients-say__btn_left {
  background-image: url(../images/icons/left.svg);
  left: -12%;
}
