.join-us {
  margin-top: 6rem;
}

.join-us__wrapper {
  display: flex;
  line-height: 2.2;
  margin-top: 4.3rem;
}

.join-us__img {
  flex-shrink: 0;
}

.join-us__list {
  margin-bottom: 1.6rem;
  margin-top: 0.5rem;
}

.join-us__btn {
  margin-top: 1rem;
}

.join-us p {
  text-align: unset;
  color: unset;
  margin-top: unset;
  margin-bottom: unset;
}
