
.whatsapp-entry-notice {
    height: 52px;
    background-color: #128C7E;
    border: 1px solid #128C7E;
    margin-top: 2rem;
    margin-bottom:2rem;
}

.whatsapp-entry-notice .title {
    background-color: #128C7E;
    float:left;
    height: 100%;
    padding-top: 0.75rem;
    padding-left: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.whatsapp-entry-notice .image {
    width: 50px;
    float:left;
    height: 100%;
}

