.current-entries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.current-entries-thumb {
  overflow: hidden;
}

.current-entries__a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.current-entries-thumb img {
  transition: transform .5s;
  /* Animation */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.current-entries-thumb img:hover {
  transform: scale(1.1);
}
