.hero {
  background-color: var(--base);
  overflow: hidden;
  max-width: unset;
  width: 100%;
}

.hero__container {
  display: flex;
}

.hero__title {
  color: #fff;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1;
  max-width: 42rem;
  padding-top: 5rem;
}

.hero__title_home {
  max-width: 40rem;
}
