.what-can {
  margin-bottom: 5rem;

  &__item {
    background-color: #fff;
    border: 2px solid var(--light);
    min-height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 2rem;

    p {
      font-size: 14px;
      margin: 0px;
      color: inherit;
      line-height: unset;
    }
  }

  p.what-can__description {
    color: var(--gray);
    margin-top: 1rem;
  }
}

.what-can__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  width: 100%;
}

.what-can__img {
  margin-bottom: 1rem;
}

.what-can__title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}
